.bracelets {
    margin: 0 auto;
    max-width: 1480px;
    padding: 0 10px 50px 10px;
}
.bracelets-map {
    padding: 10px 0;
}
.bracelets-map a {
    text-decoration: none;
    color: #000;
}
.bracelets-map a:hover {
    color: goldenrod;
}
hr {
    margin: 0;
}
.bracelets h2 {
    text-align: center;
    font-size: 34px;
}
.bracelets-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 40px;
    gap: 10px;
}
.bracelets-items-block-information img {
    width: 100%;
}
.bracelets-items-block {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    color: #000;
    opacity: 0.8;
}
.bracelets-items-block a {
    text-decoration: none;
    color: #000;
}
.bracelets-items-block:hover {
    opacity: 1;
}
.bracelets-items-block-information-price {
    margin: 0;
    padding-left: 10px;

}
.bracelets-items-block-information-title {
    margin: 0;
    font-weight: 550;
    padding-left: 10px;

}
@media screen and (max-width:767px) {
    .bracelets-items {
        grid-template-columns: 1fr 1fr;
    }
    .bracelets-items-block {
        font-size: 20px;
    
    }
}
@media screen and (min-width:767px) and (max-width:1023px) {
.bracelets-items-block {
    font-size: 20px;
}
.bracelets-items {
    grid-template-columns: 1fr 1fr 1fr;
}
}