.gallery {
    margin: 0 auto;
    max-width: 1480px;
    padding: 0 10px 50px 10px;
}
.gallery-map {
    padding: 10px 0;
}
.gallery-map a {
    text-decoration: none;
    color: #000;
}
.gallery-map a:hover {
    color: goldenrod;
}
hr {
    margin: 0;
}
.gallery-link {
    display: flex;
    flex-direction: row;
    padding: 50px 100px 50px 100px;
    gap: 50px
}
.gallery-link-interior, .gallery-link-jewelry {
    flex: 50%;
}
.gallery-link img{
    width: 100%;
    opacity: 0.6;
}
.gallery-link a {
    width: 300px;
    color: #000;
    text-align: center;
    line-height: 50px;
    font-weight: 200;
    font-size: 34px;
    text-decoration: none;
    background-color: rgb(255, 255, 255, 0.6);
}
.gallery-link a:hover {
    color: goldenrod;
    background-color: #fff;
}
.gallery-link-jewelry {
    position: relative;
    width: 100%;
}
.gallery-link-jewelry img {
    width: 100%;
    height: auto;
}
.gallery-link-jewelry a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 3px solid #fff;
}
.gallery-link-interior {
position: relative;
    width: 100%;
}
.gallery-link-interior img {
    width: 100%;
    height: auto;
}
.gallery-link-interior a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 3px solid #fff;
}


@media screen and (max-width:767px) {
    .gallery-link {
        flex-direction: column;
    }
    .gallery-link a {
        font-size: 22px;
        width: 200px;
    }

}
@media screen and (min-width:767px) and (max-width:1023px) {
    .gallery-link a {
        font-size: 22px;
        width: 200px;
    }
}