.contacts {
    margin: 0 auto;
    max-width: 1480px;
    padding: 0 10px 50px 10px;
}
.contacts-map {
    padding: 10px 0;
}
.contacts-map a {
    text-decoration: none;
    color: #000;
}
.contacts-map a:hover {
    color: goldenrod;
}
hr {
    margin: 0;
}
.contacts h1 {
    text-align: center;
    font-size: 34px;
    margin: 28px;
}
.contacts-info {
    text-align: center;
}
.contacts-info-title {
    padding: 20px 0;
}
.contacts-info-context {
    padding-bottom: 20px;
}
/* FORM */
.contacts-info-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.contacts-info-form label {
    text-align: left;
    display: block;
}
.contacts-info-form input, .contacts-info-form textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.contacts-info-form button {
    font-size: 16px;
    background-color: gray;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
}
.contacts-info-form button:hover {
    color: goldenrod;
}
.contacts-info-form p {
    font-size: 20px;
}