.necklace {
    margin: 0 auto;
    max-width: 1480px;
    padding: 0 10px 50px 10px;
}
.necklace-map {
    padding: 10px 0;
}
.necklace-map a {
    text-decoration: none;
    color: #000;
}
.necklace-map a:hover {
    color: goldenrod;
}
hr {
    margin: 0;
}
.necklace-container {
    display: flex;
    padding: 0 50px 20px;
    margin-bottom: 100px;
}
.necklace-container-gallery {
flex: 50%;
display: flex;
}
.necklace-conteiner-informacion {
    flex: 50%;
    padding: 50px 50px 0 20px;
}
#thumbnail-div {
    display: block;
}
.necklace-conteiner-informacion p {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
@media screen and (max-width:767px) {
    .necklace-container {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }
    .thumbnails img {
        width: 80px;
    }
    .necklace-conteiner-informacion {
        padding: 50px 0 0 0px;
    }
    .necklace-conteiner-informacion p {
        font-size: 17px;
    }
}
@media screen and (min-width:767px) and (max-width:1023px) {
    .necklace-conteiner-informacion {
        flex: 30%;
    }
    .thumbnails img {
        width: 80px;
    }
    .necklace-conteiner-informacion {
        padding: 50px 0 0 20px;
    }
    .necklace-conteiner-informacion p {
        font-size: 17px;
    }
}