.jewelry {
    margin: 0 auto;
    max-width: 1480px;
    padding: 0 10px 50px 10px;
}
.jewelry-map {
    padding: 10px 0;
}
.jewelry-map a {
    text-decoration: none;
    color: #000;
}
.jewelry-map a:hover {
    color: goldenrod;
}
hr {
    margin: 0;
}
.jewelry h2 {
    text-align: center;
    font-size: 34px;
}
.jewelry-link {
    display: flex;
    flex-direction: row;
    padding: 50px 50px 50px 50px;
    gap: 50px
}
.jewelry-link-bracelets, .jewelry-link-necklaces, .jewelry-link-sets {
    flex: 30%;
}
.jewelry-link img{
    width: 100%;
    opacity: 0.6;
}
.jewelry-link a {
    width: 200px;
    color: #000;
    text-align: center;
    line-height: 50px;
    font-weight: 200;
    font-size: 34px;
    text-decoration: none;
    background-color: rgb(255, 255, 255, 0.6);
}
.jewelry-link a:hover {
    color: goldenrod;
    background-color: #fff;
}
.jewelry-link-bracelets {
    position: relative;
    width: 100%;
}
.jewelry-link-bracelets img {
    width: 100%;
    height: auto;
}
.jewelry-link-bracelets a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 3px solid #fff;
}
.jewelry-link-necklaces {
position: relative;
    width: 100%;
}
.jewelry-link-necklaces img {
    width: 100%;
    height: auto;
}
.jewelry-link-necklaces a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 3px solid #fff;
}
.jewelry-link-sets {
    position: relative;
        width: 100%;
    }
.jewelry-link-sets img {
        width: 100%;
        height: auto;
    }
.jewelry-link-sets a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border: 3px solid #fff;
    }

@media screen and (max-width:767px) {
    .jewelry-link {
    flex-direction: column;
    }
}
@media screen and (min-width:767px) and (max-width:1023px) {
    .jewelry-link a {
        width: 150px;
        font-size: 25px;
    }
}